:root {
  --color-roborock: #ec0829;
}

$bp-largest: 81.25em;  // 1300px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smaller: 28.125em; // 450px