.comp__header {
  height: 28rem;
  width: 100%;
  background-image: url(../img/compare-header.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  @media only screen and (max-width: 500px) {
    height: 16rem;
  }

  &__text {
    padding: 3.2rem;
    
    & h1 {
      font-size: 4rem;
      letter-spacing: 1px;

      @media only screen and (max-width: 500px) {
        font-size: 2.4rem;
      }
    }
  }
}